body {
  background-color: #f8f8f2;
  color: #282a36;
  font-family: "Montserrat", sans-serif;
  background-image: radial-gradient(#ccc 2px, #f8f8f2 2px);
  background-size: 80px 80px;
}

h3 {
  margin-top: 20px;
  text-transform: uppercase;
}

.card {
  background-color: #ffffff;
  border: none;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  min-height: 430px; /* Adicionando altura mínima */
}

.logo-barcelos {
  padding-top: 30px;
  display: block;
  margin: 0 auto;
}

.btn-primary {
  background-color: #6272a4;
  border-color: #6272a4;
}

.btn-primary:hover {
  background-color: #bd93f9;
  border-color: #bd93f9;
}

.form-control {
  background-color: #f8f8f2;
  color: #282a36;
  border-color: #6272a4;
}

.form-control::placeholder {
  color: #6272a4;
}

.form-control:focus {
  background-color: #f8f8f2;
  color: #282a36;
  border-color: #bd93f9;
  box-shadow: none;
}

.form-check-label {
  color: #282a36;
}

.mb-0 {
  margin-bottom: 0;
}

/* Toast container */
#toast-container {
  position: absolute;
  top: 1rem;
  right: 1rem;
  min-height: 200px;
}

/* Estilos para o switch */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin-left: 1rem;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* Ícones */
.icon-sun,
.icon-moon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 16px;
  transition: opacity 0.4s;
}

.icon-sun {
  left: 8px;
  color: #ffdf00;
}

.icon-moon {
  right: 8px;
  color: #000000;
  opacity: 0;
}

input:checked + .slider .icon-sun {
  opacity: 0;
}

input:checked + .slider .icon-moon {
  opacity: 1;
}
