body {
  background-color: #f8f8f2;
  color: #282a36;
  font-family: "Montserrat", sans-serif;
  background-image: radial-gradient(#ccc 2px, #f8f8f2 2px);
  background-size: 80px 80px;
}

h1,
h2 {
  margin-top: 20px;
}

h2 {
  text-transform: uppercase;
  text-align: left;
}

.table {
  margin-bottom: 30px;
}

.small {
  font-weight: normal;
  font-size: 0.9rem;
}

.modal-dialog {
  max-width: 500px;
}

.font-weight-bold {
  font-weight: bold;
}

.navbar {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Adiciona sombra à navbar */
}

.btn-smaller {
  font-size: 0.875rem; /* Diminui o tamanho do texto do botão */
  padding: 0.35rem 0.6rem; /* Ajusta o padding do botão */
}
.btn-smaller:hover {
  background-color: #08be4e;
  border-color: #08be4e;
  transition: background-color 0.5s ease, transform 0.5s ease;
}

/* Media queries for responsive design */
@media (max-width: 768px) {
  .modal-dialog {
    max-width: 90%;
  }
  .table-responsive {
    overflow-x: auto;
  }
}

.toast {
  min-width: 250px;
}

/* Estilos para o switch */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin-left: 1rem;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* Ícones */
.icon-sun,
.icon-moon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 16px;
  transition: opacity 0.4s;
}

.icon-sun {
  left: 8px;
  color: #ffdf00;
}

.icon-moon {
  right: 8px;
  color: #fff;
  opacity: 0;
}

input:checked + .slider .icon-sun {
  opacity: 0;
}

input:checked + .slider .icon-moon {
  opacity: 1;
}

.actions-column {
  width: 100px; /* Ajuste de largura específico para a coluna de ações */
}
